{% include 'header.html' %}
<body>
  {% include 'navigation.html' %}
  <!-- Page Header-->
  <header
    class="masthead"
    style="background-image: url('static/assets/img/wallpaper_background.jpg'); background-position: center 20px;"
  >
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1></h1>
            <span class="subheading">"If you can make one heap of all your winnings
              And risk it on one turn of pitch-and-toss,
              And lose, and start again at your beginnings
              And never breathe a word about your loss"</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->

      <!-- Start of the for loop -->
      {% for post in json %}
      <div class="post-preview">
        <a href="{{ url_for('read_body', index = post.id) }}"
          ><h2 class="post-title">
            {{ post.subtitle }}
          </h2></a
        >
        <p class="post-meta">
          Posted by
          <a href="{{ url_for('home') }}">Pratik Thapa</a>
          on {{ post.date }} <a href="{{url_for( 'delete_post', post_id = post.id )}}">✘</a>
        </p>
      </div>
      {% endfor %}
      
      <!-- Divider-->
      <hr class="my-4" />
      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{ url_for('static', filename='/js/scripts.js') }}"></script>
</body>
</html>
